<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="d-inline-block border rounded-pill py-1 px-4">Appointment</p>
                <h1 class="mb-4">Book Your Appointment with the Right Doctor Today</h1>
                <p class="mb-4">Take control of your health today by scheduling an appointment with our dedicated team of specialists. Whether it's a common cold or a chronic condition, we're here to provide personalized care tailored to you.</p>
                <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Call Us Now</p>
                        <h5 class="mb-0">+123 456 789</h5>
                    </div>
                </div>
                <div class="bg-light rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope-open text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">Mail Us Now</p>
                        <h5 class="mb-0">christea@clinics.com</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                    <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <select formControlName="selectedSpecialty" class="form-select border-0" style="height: 55px;" (change)="loadDoctorsBySpecialty($event)">
                                    <!-- <option selected>Choose Specialty</option> -->
                                    <option *ngFor="let specialty of specialties" [value]="specialty">{{specialty}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select formControlName="selectedDoctor" class="form-select border-0" style="height: 55px;" (change)="loadDatesByDoctor($event)">
                                    <!-- <option selected>Choose Doctor</option> -->
                                    <option *ngFor="let doctor of doctors" [value]="doctor._id">{{doctor.name}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select formControlName="selectedDate" class="form-select border-0" style="height: 55px;" (change)="loadTimesByDate($event)">
                                    <!-- <option selected>Choose Date</option> -->
                                    <option *ngFor="let date of dates" [value]="date">{{date}}</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select formControlName="selectedTime" class="form-select border-0" style="height: 55px;">
                                    <!-- <option selected>Choose Time</option> -->
                                    <option *ngFor="let time of times" [value]="time">{{time}}</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea formControlName="description" class="form-control border-0" rows="5" placeholder="Describe your problem"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Book Appointment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>