<div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Contacts</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Vasil Levski Street, Pleven, Bulgaria</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+123 456 789</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>christea@clinics.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social rounded-circle" href="https://www.linkedin.com/in/kristina-strateva-a820ba254/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Services</h5>
                <a class="btn btn-link" routerLink="/site/general-practice">General Practice/GP</a>
                <a class="btn btn-link" routerLink="/site/pediatrics">Pediatrics</a>
                <a class="btn btn-link" routerLink="/site/orthopedics">Orthopedics</a>
                <a class="btn btn-link" routerLink="/site/neurology">Neurology</a>
                <a class="btn btn-link" routerLink="/site/cardiology">Cardiology</a>
                <a class="btn btn-link" routerLink="/site/dermatology">Dermatology</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Quick Links</h5>
                <a class="btn btn-link" routerLink="/site/about">About Us</a>
                <a class="btn btn-link" routerLink="/site/contact">Contact Us</a>
                <a class="btn btn-link" routerLink="/site/terms-conditions">Terms & Condition</a>
                <a class="btn btn-link" routerLink="/site/support">Support</a>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Newsletter</h5>
                <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                </div>
            </div> -->
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" routerLink="/">Christea Clinics</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://github.com/KristinaStrateva">Kristina Strateva</a>
                </div>
            </div>
        </div>
    </div>
</div>