<div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Vasil Levski 11 Street, Pleven, Bulgaria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 06.00 PM</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+123 456 789</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href="/auth/login"><i class="bi bi-box-arrow-in-right"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-2" href="/auth/profile"><i class="bi bi-person"></i></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href="/auth/logout"><i class="bi bi-box-arrow-left"></i></a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Med-Appoint</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                    <a href="/features" class="dropdown-item">Feature</a>
                    <a href="/doctors" class="dropdown-item">Our Doctor</a>
                    <a href="/add-appointment" class="dropdown-item">Appointment</a>
                </div>
            </div>
            <a href="/about" class="nav-item nav-link">About</a>
            <a href="/contacts" class="nav-item nav-link">Contact</a>
        </div>
        <a href="/add-appointment" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Appointment<i
                class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>